<div class="container p-3 bg-info">
    <div class="row">
      <div class="col-6 mx-auto">
          <div class="form-group">
              <label>Filtrar por Categoría</label>
              <select class="form-control" (change)="categoriaSelec($event)">
                <option selected>...</option>
                <option>Ciencia</option>
                <option>Tecnología</option>
                <option>Música</option>
                <option>Deportes</option>
              </select>
          </div>
      </div>
    </div>
</div>
<div class="container border border-dark" *ngFor="let post of listaPosts">
  <div class="row">
    <div class="col-12 mb-3 p-3">
        <h3> {{ post.titulo.toUpperCase() }} </h3>
        <p> {{ post.texto }} </p>
        <h5> {{ post.autor }} </h5>
        <p> {{ post.fecha }} </p>
        <p class="text-right"> {{ post.categoria }} </p>
    </div>
  </div>
  <div class="row border-bottom" >
    <div class="col-6 mx-auto mb-3">
      <img [src]="post.imagen">
    </div>
  </div>

</div>


