<div class="newPost container my-5">
  <h2 class="text-center text-info">NUEVO POST</h2>
    <div class="form-group">
      <label>Titulo Post</label>
      <input type="text" class="form-control" [(ngModel)]="newPost.titulo">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="10" [(ngModel)]="newPost.texto" placeholder="¿Qué quieres contar?"></textarea>
    </div>
    <div class="form-group">
      <label>Autor Post</label>
      <input type="text" class="form-control" [(ngModel)]="newPost.autor">
    </div>
    <div class="form-group">
      <label>Imagen (url)</label>
      <input type="url" class="form-control" [(ngModel)]="newPost.imagen">
      </div>
    <div class="form-group">
      <label>Categoría</label>
      <select class="form-control" [(ngModel)]="newPost.categoria">
        <option>Ciencia</option>
        <option>Tecnología</option>
        <option>Música</option>
        <option>Deportes</option>
      </select>
    </div>
    <button type="submit" class="btn btn-info btn-block" (click)="guardarNewPost()">Guardar Post</button>
</div>

